/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.sub-title {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
}
/* Header */
header .logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3e3e3e;
}
header .logo a {
  text-align: center;
}
header nav {
  text-align: center;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}
header nav ul li a {
  position: relative;
  padding: 20px;
}
header nav ul li a:hover {
  color: #865cd8;
  font-weight: 600;
  text-shadow: 1px 1px 5px #865cd8;
}
/* About-me Section */
main .container {
  padding: 15px;
  text-align: center;
  background-color: #d4beff;
}
main .cardwrap {
  position: relative;
  width: 200px;
  height: 245px;
  background: linear-gradient(#865cd8, #865cd8 30%, #231440 30%, #231440);
  border-radius: 20px;
  overflow: hidden;
  margin: 10px auto;
}
main .picturebox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
main .picturebox img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: 0.5s;
  border-radius: 20px;
}
main .cardwrap:hover .picturebox img {
  transform: translateY(-40px) scale(0.5);
}
main .cardwrap .textbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #efefef;
  opacity: 0;
  transition: 0.5s;
}
main .cardwrap:hover .textbox {
  opacity: 1;
}
main .cardwrap .textbox .details h3 {
  font-size: 20px;
  line-height: 1;
}
main .cardwrap .textbox .details h3 span {
  font-size: 12px;
}
main .cardwrap .textbox .sns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0;
}
main .cardwrap .textbox .sns li {
  margin: 5px;
}
main .cardwrap .textbox .sns li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6c9ef;
  border-radius: 50%;
}
main .cardwrap .textbox .sns li a i {
  color: #333;
}
/* 목표-section */
main .container-white {
  padding: 10px;
  max-width: 860px;
  margin: 0 auto;
}
main .container-white .textbox {
  margin: 10px auto;
}
main .container-white .textbox p {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
}
main .container-white .textbox span {
  font-weight: 700;
  text-shadow: 1px 1px 1px #865cd8;
}
main .container-white .purpose {
  list-style: circle;
  max-width: 245px;
  margin: 20px auto;
  background-color: #d6c9ef;
  border-radius: 20px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 10px;
}
main .container-white .purpose li {
  font-size: 14px;
  margin-left: 30px;
}
main .container-white .etc {
  margin: 10px auto;
}
/* 핵심언어 */
.langinner .iconbox {
  position:relative;
  width: 200px;
  height: 280px;
  background-color: #efefef;
  border-radius: 20px;
  margin: 10px 20px;
  display: inline-block;
}
.langinner .iconbox .iconwrap {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  bottom: 0;
  left: calc(50% - 50px);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.langinner .iconbox .iconwrap .textwrap {
  position: absolute;
  display: none;
}
.langinner .iconbox .iconwrap .textwrap p {
  font-size: 14px;
  width: 180px;
}
.langinner .iconbox .iconwrap .textwrap .button {
  width: 160px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}
.langinner .iconbox .iconwrap .textwrap .button:hover {
  background-color: #d6c9ef;
}
.langinner .iconbox:hover .iconwrap {
  top: 20px;
}
.langinner .iconbox:hover .iconwrap .textwrap {
  bottom: -130px;
  display: block;
}
.langinner .iconbox p {
  font-size: 30px;
  font-weight: 700;
  transition: 0.5s;
}
.langinner .iconbox:hover p {
  font-size: 18px;
}
.langinner .iconbox i {
  font-size: 120px;
  transition: 0.5s;
}
.langinner .iconbox:hover i {
  font-size: 80px;
}
.langinner .htmlbox i {
  color: #ff5722;
}
.langinner .cssbox i {
  color: #30aadd;
}
.langinner .jsbox i {
  color: #f2bf26;
}