@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.sub-title {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  text-shadow: 1px 1px 2px #f7786b;
}
.mgl20 {
  margin-left: 20px;
}
.mgt10 {
  margin-top: 10px;
}
.mgt120 {
  margin-top: 120px;
}
.mgt150 {
  margin-top: 150px;
}
.accent {
  font-weight: 700;
  text-shadow: 0px 0px 10px #f7786b;
}
ol {
  padding-left: 40px;
  font-size: 14px;
}
.list-title .list {
  list-style: disc;
  padding-left: 40px;
  font-size: 14px;
}
hr {
  margin: 50px 0;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  z-index: 9;
}
header .logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo a img {
  width: 70px;
}
header .hambtn {
  position: absolute;
  display: block;
  width: 20px;
  height: 24px;
  top: 38px;
  right: 10px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}
header .hambtn span {
  position: absolute;
  display: block;
  width: 20px;
  height: 4px;
  margin: 2px;
  border-radius: 5px;
  background-color: #333;
  transition: 0.3s;
}
header .hambtn span:nth-child(1) {
  top: 0;
}
header .hambtn.exit span:nth-child(1) {
  opacity: 0;
}
header .hambtn span:nth-child(4) {
  bottom: 0;
}
header .hambtn.exit span:nth-child(4) {
  opacity: 0;
}
header .hambtn span:nth-child(2),
header .hambtn span:nth-child(3) {
  top: 8px;
}
header .hambtn.exit span:nth-child(2) {
  transform: rotate(-45deg);
}
header .hambtn.exit span:nth-child(3) {
  transform: rotate(45deg);
}
header .navwrap {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 0;
  transition: 0.5s;
  display: none;
}
header .navwrap.show {
  z-index: 2;
  transition: 0.5s;
  top: 100px;
  display: block;
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul li {
  margin: 10px;
}
header nav ul li a {
  padding: 10px;
  color: #333;
}
header nav ul li a:hover {
  color: #f7786b;
  font-weight: 600;
  text-shadow: 1px 1px 5px #f7786b;
}
/* //Header */

/* About-me Section */
main .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #ffdab9;
}
main .cardwrap {
  position: relative;
  width: 200px;
  height: 245px;
  background: linear-gradient(#f5968c, #f5968c 30%, #f7786b 30%, #f7786b);
  border-radius: 20px;
  overflow: hidden;
  margin: 10px auto;
}
main .picturebox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
main .picturebox img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: 0.5s;
  border-radius: 20px;
}
main .cardwrap:hover .picturebox img {
  transform: translateY(-40px) scale(0.5);
}
main .cardwrap .textbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #efefef;
  opacity: 0;
  transition: 0.5s;
}
main .cardwrap:hover .textbox {
  opacity: 1;
}
main .cardwrap .textbox .details h3 {
  font-size: 18px;
  line-height: 1;
}
main .cardwrap .textbox .details h3 span {
  font-size: 12px;
}
main .cardwrap .textbox .sns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0;
}
main .cardwrap .textbox .sns li {
  margin: 5px;
}
main .cardwrap .textbox .sns li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdab9;
  border-radius: 50%;
}
main .cardwrap .textbox .sns li a i {
  color: #000;
}
/* //About-me Section */

/* 목표-section */
main .container-white {
  padding: 10px;
  max-width: 860px;
  margin: 0 auto;
}
main .container-white .textbox {
  margin: 10px auto;
}
main .container-white .textbox h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 30px 0;
}
main .container-white .textbox p {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
}
main .container-white .purposewrap {
  margin: 0 auto;
}
main .container-white .purpose {
  list-style: circle;
  max-width: 280px;
  margin: 20px auto;
  background-color: #ffdab9;
  border-radius: 20px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 10px;
}
main .container-white .purpose li {
  font-size: 13px;
  margin-left: 30px;
}
/* //목표-section */

/* 핵심언어-section */
.langinner .iconbox {
  position:relative;
  width: 200px;
  height: 280px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px 20px;
  display: inline-block;
}
.langinner .iconbox .iconwrap {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  bottom: 0;
  left: calc(50% - 50px);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.langinner .iconbox .textwrap {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s;
}
.langinner .iconbox .textwrap p {
  font-size: 12px;
  width: 180px;
  text-align: center;
  margin: 0 auto;
}
.langinner .iconbox .textwrap .button {
  width: 160px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}
.langinner .iconbox .textwrap .button:hover {
  background-color: #ffdab9;
}
.langinner .iconbox:hover .iconwrap {
  top: 20px;
}
.langinner .iconbox:hover .textwrap {
  opacity: 1;
}
.langinner .iconimg {
  width: 120px;
  transition: 0.5s;
}
.langinner .iconbox p {
  font-size: 30px;
  font-weight: 700;
}
.langinner .iconbox i {
  font-size: 120px;
  transition: 0.5s;
}
.langinner .iconbox:hover .iconwrap .fa-brands {
  font-size: 70px;
}
.langinner .iconbox:hover .iconimg {
  width: 80px;
}
.langinner .htmlbox i {
  color: #ff5722;
}
.langinner .cssbox i {
  color: #30aadd;
}
.langinner .jsbox i {
  color: #f2bf26;
}
/* //핵심언어-section */

/* Footer */
footer .contact {
  background-color: #ffdab9;
  padding: 30px;
  color: #333;
}
footer .contact .etc {
  margin: 10px auto;
}
footer .contact .etc p {
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
}
footer .contact .sns {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact .sns li {
  margin: 0 10px;
}
footer .contact .sns a {
  padding: 20px;
  font-size: 30px;
  color: #000;
}
/* //Footer */

@media screen and (min-width: 1000px) {
  main .container {
    border-radius: 20px;
  }
}