main .subpage-title {
  height: 320px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .subpage-title .iconwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .subpage-title .iconwrap h2 {
  font-size: 24px;
  text-shadow: 1px 1px 5px #f7786b;
}
main .subpage-title .iconwrap i {
  font-size: 80px;
}
main .subpage-title .iconwrap .fa-html5 {
  color: #ff5722;
}
main .subpage-title .subpage-intro {
  max-width: 800px;
  padding: 15px;
  box-sizing: border-box;
}
main .subpage-title .subpage-intro p {
  font-size: 14px;
  text-align: center;
}
main .subpage-list .listcard {
  max-width: 1000px;
  min-height: 200px;
  display: block;
  margin: 20px auto;
  padding: 15px 10px;
  border: 1px solid #333;
  border-radius: 20px;
}
main .subpage-list .listcard .listwrap {
  overflow: hidden;
}
main .subpage-list .listcard .thumbnail img {
  width: 90px;
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}
main .subpage-list .listcard .listcontent {
  display: block;
  margin: 20px auto;
}
main .subpage-list .listcard .listcontent h3 {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
  text-align: center;
  transition: 0.5s;
}
main .subpage-list .listcard .listcontent p {
  font-size: 14px;
  text-align: center;
}
main .subpage-list .listcard:hover {
  border: 1px solid #f7786b;
  box-shadow: 1px 1px 10px #f7786b;
}
main .subpage-list .listcard:hover .listcontent h3 {
  color: #ff5722;
  text-shadow: 1px 1px 2px #333;
}
@media screen and (min-width: 768px) {
  main .subpage-list .listcard .thumbnail  {
    float: left;
    width: 30%;
  }
  main .subpage-list .listcard .listcontent {
    float: left;
    width: 66%;
  }
  main .subpage-list .listcard .thumbnail img {
    margin-top: 15px;
  }
  main .subpage-list .listcard .listcontent h3 {
    font-size: 24px;
  }
  main .subpage-list .listcard:hover .thumbnail img {
    width: 95px;
  }
}