@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* heading-ex */
.heading-ex h1 {
  font-size: 32px;
}
.heading-ex h2 {
  font-size: 24px !important;
  text-align: left !important;
  text-shadow: none !important;
}
.heading-ex h3 {
  font-size: 19px !important;
  margin: 0 !important;
}
/* // heading-ex */

/* display-ex */
.block-ex1 {
  background-color: red;
  color: #fff;
}
.block-ex2 {
  background-color: red;
  color: #fff;
  width: 200px;
  height: 40px;
}
.inline-ex1 {
  background-color: red;
  color: #fff;
}
.inline-ex2 {
  background-color: red;
  color: #fff;
  width: 200px;
  height: 40px;
}
.inline-ex3 {
  background-color: red;
  color: #fff;
  margin: 20px;
}
.inline-ex4 {
  background-color: red;
  color: #fff;
  padding: 10px;
}
.inline-block-ex1 {
  display: inline-block;
  background-color: red;
  color: #fff;
}
.inline-block-ex2 {
  display: inline-block;
  background-color: red;
  color: #fff;
  width: 240px;
  height: 50px;
}
.inline-block-ex3 {
  display: inline-block;
  background-color: red;
  color: #fff;
  margin: 20px;
  padding: 10px;
}
/* // display-ex */

/* semantic-ex */
.semantic {
  width: 100%;
  margin-bottom: 20px;
}
.semantic img {
  width: 100%;
}
/* // semantic-ex */

/* element 표시 css */
.element {
  font-size: 12px;
  color: #cb0a0a;
  display: inline-block;
  padding: 4px;
  border: 1px solid #ffdab9;
  border-bottom-width: 3px;
  box-shadow: 1px 1px 10px #f7786b;
  border-radius: 10px;
}
/* element 표시 css */
/* hr example */
.hrex {
  margin: 0;
}
/* //hr example */

/* ul,ol example */
.ollist-ex {
  padding-left: 40px;
  font-size: 14px;
}
.ullist-ex {
  padding-left: 40px;
  font-size: 14px;
  list-style: disc;
}
.ullist-ex2 {
  padding-left: 40px;
  font-size: 14px;
  list-style: square;
}
/* // ul,ol example */

/* dl,dt,dd example */
dl {
  margin: 14px 0;
}
dd {
  margin-left: 40px;
}
/* // dl,dt,dd example */

/* bold-example */
.bold-ex p, .bold-ex b, .bold-ex strong{
  font-family: 'Noto Sans KR', sans-serif;
}
.bold-ex p {
  font-weight: 300;
  margin: 0 !important;
}
/* bold-example */

/* anchor example */
.anchor-ex a {
  text-decoration: underline;
  color: #0000EE;
}
.anchor-ex a:visited {
  color: #551A8B;
}
/* // anchor example */

/* table example */
.table-ex {
  border-collapse: collapse;
}
.table-ex td, .table-ex th {
  border: 1px solid white;
}
.table-ex2 {
  border-collapse: collapse;
}
.table-ex2 td {
  width: 100px;
  border: 1px solid white;
}
/* // table example */

/* git homepage example */
.homepage {
  background-color: #3e3e3e;
  padding: 0 5px;
  color: #eee;
  border-radius: 4px;
}
.gitex-wrap {
  max-width: 840px;
  text-align: center;
  margin: 10px 0;
}
.gitex-wrap img {
  width: 100%;
}
/* git homepage example */

/* git list-ex */
.gitlist-ex {
  padding-left: 20px;
  font-size: 16px;
  list-style: disc;
}
.gitlist-ex p {
  margin: 5px 0 !important;
}
.git-title {
  background-color: #3e3e3e;
  padding: 0 5px;
  color: #eee;
  border-radius: 4px;
  padding: 4px;
  display: inline-block;
}
/* // git list-ex */
.colorex {
  color: orange;
  margin: 0 !important;
}