/* display-ex */
.block-ex1 {
  background-color: red;
  color: #fff;
}
.block-ex2 {
  background-color: red;
  color: #fff;
  width: 200px;
  height: 40px;
}
.inline-ex1 {
  background-color: red;
  color: #fff;
}
.inline-ex2 {
  background-color: red;
  color: #fff;
  width: 200px;
  height: 40px;
}
.inline-ex3 {
  background-color: red;
  color: #fff;
  margin: 20px;
}
.inline-ex4 {
  background-color: red;
  color: #fff;
  padding: 10px;
}
.inline-block-ex1 {
  display: inline-block;
  background-color: red;
  color: #fff;
}
.inline-block-ex2 {
  display: inline-block;
  background-color: red;
  color: #fff;
  width: 240px;
  height: 50px;
}
.inline-block-ex3 {
  display: inline-block;
  background-color: red;
  color: #fff;
  margin: 20px;
  padding: 10px;
}
/* // display-ex */

/* semantic-ex */
.semantic {
  width: 100%;
  margin-bottom: 20px;
}
.semantic img {
  width: 100%;
}
/* // semantic-ex */

/* element 표시 css */
.element {
  font-size: 12px;
  color: #cb0a0a;
  display: inline-block;
  padding: 4px;
  border: 1px solid #ffdab9;
  border-bottom-width: 3px;
  box-shadow: 1px 1px 10px #f7786b;
  border-radius: 10px;
}
/* element 표시 css */
/* hr example */
.hrex {
  margin: 0;
}
/* //hr example */