/* Common */
.white {
  color: #fff;
}
.orange {
  color: #f36d00;
}
.skyblue {
  color: #acd2f0;
}
.line {
  display: block;
  max-width: 840px;
}

main .list-title h2 {
  text-align: center;
  font-size: 22px;
  text-shadow: 1px 1px 5px #f7786b;
}
main .list-title h3 {
  margin: 20px 0;
  font-size: 18px;
}
main .list-title p {
  font-size: 14px;
}
main .list-title p:nth-of-type(1) {
  margin: 15px 0;
  font-weight: 400;
}
main .list-title .source {
  font-size: 10px;
  color: #aaa;
  margin-bottom: 10px;
}
main .list-title .html-str {
  border-collapse: collapse;
}
main .list-title .html-str th,
main .list-title .html-str td {
  border: 1px solid #333;
  padding: 10px 20px;
  font-size: 14px;
}
main .list-title .html-str th {
  background-color: #ffdab9;
}
main .list-title .linewrap {
  max-height: 400px;
  background-color: #222;
  color: #5396cd;
  font-size: 14px;
  padding: 20px 15px;
  margin: 20px 0;
}
main .list-title .linewrap .subtext {
  color: #e3e3e3;
  margin-left: 20px;
}
main .list-title .linewrap .secondline {
  margin-left: 20px;
}
main .list-title .linewrap .thirdline {
  margin-left: 40px;
}